---
import BackOnTrackLayout from "../layouts/BackOnTrackLayout.astro";
import PocketBase from "pocketbase";
import { Image } from "astro:assets";

const pb = new PocketBase("https://backontrack.lukeo.hackclub.app");

const records = await pb.collection("team").getFullList({
  filter: "hidden = false",
  sort: "-priority,+location,+title,+name",
});
---

<BackOnTrackLayout title="Back on Track | Team">
  <div class="m-5">
    <h1 class="text-center text-5xl text-blue">MEET OUR NATIONAL EXECUTIVES</h1>
    <hr class="m-5" />
    <h2 class="text-center text-2xl text-blue">
      Meet the people who keep Back on Track on track!
    </h2>
  </div>
  <div
    class="grid content-center justify-center sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5"
  >
    {
      records.map((record) => (
        <div class="m-5 flex flex-col bg-gray p-5">
          <Image
            src={pb.getFileUrl(record, record.image)}
            alt={record.name}
            class="w-full object-cover"
            width="400"
            height="300"
          />
          <p class="text-2xl">{record.name}</p>
          <p class="text-lg">{record.title}</p>
          <div class="m-5 flex items-center justify-center">
            <Image
              src="/location.svg"
              alt="location logo"
              width="24"
              height="24"
            />
            <p class="m-1 text-lg">{record.location}</p>
          </div>
          <hr />
          <p class="mb-5 mt-5 text-lg">{record.bio}</p>

          <div class="mt-auto flex align-bottom">
            {() => {
              if (record.instagram) {
                return (
                  <a href={record.instagram} class="inline">
                    <Image
                      src="/instagram.webp"
                      alt="instagram logo"
                      width="40"
                      height="40"
                    />
                  </a>
                );
              }
            }}
            {() => {
              if (record.linkedin) {
                return (
                  <a href={record.linkedin} class="inline">
                    <Image
                      src="/linkedin.webp"
                      alt="linkedin logo"
                      width="40"
                      height="40"
                    />
                  </a>
                );
              }
            }}
          </div>
        </div>
      ))
    }
  </div>
</BackOnTrackLayout>
