---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import Socials from "../components/Socials.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={Astro.url.pathname} />
    <meta property="og:url" content={Astro.url.pathname} />
    <meta property="og:site_name" content="Back on Track America" />
    <meta property="og:type" content="website" />
    <title>Back on Track | {title}</title>
    <meta property="og:title" content={title} />
    <meta
      name="description"
      content="Back on Track is a 501c(3) nonprofit organization that helps coordinate student volunteers in their communities to help end food insecurity. Join us to volunteer in your community today!"
    />
    <meta
      property="og:description"
      content="Back on Track is a 501c(3) nonprofit organization that helps coordinate student volunteers in their communities to help end food insecurity. Join us to volunteer in your community today!"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
    </style>
  </head>
  <body class="w-screen font-paragraph">
    <div class="relative flex h-screen w-screen flex-col">
      <Navigation />
      <slot />
      <Footer />
      <Socials />
    </div>
  </body>
</html>
